@page "/"
@using CryptoMonitor.Domain.Base
@using CryptoMonitor.Interfaces.Base.Repositories

@inject IRepository<DataSourceInfo> _repository;

<PageTitle>Home</PageTitle>

<h3>Data</h3>
@* <button class="btn btn-primary" @onclick="async() => await UpdateSources()">Refresh</button> *@
<button class="btn btn-primary" @onclick="RefreshButtonOnClick">Refresh</button>


@if (_sources is { } sources)
{
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var src in sources)
			{
				<tr>
					<td>@src.Id</td>
					<td>@src.Name</td>
					<td>@src.Description</td>
					<td>
						<button class="btn btn-outline-danger" @onclick="() => Remove(src)">
							<i class="fa fa-trash"></i>
						</button>
					</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>Loading...</p>
}

@code{
	private IList<DataSourceInfo> _sources;

	private async Task UpdateSources()
	{
		Console.WriteLine("Data request from server");
		_sources = (await _repository.GetAllAsync()).ToList();
		Console.WriteLine("Data request is done!");
	}

	protected override async Task OnInitializedAsync() => await UpdateSources();

	private async Task RefreshButtonOnClick() => await UpdateSources();

	private async Task Remove(DataSourceInfo source)
	{
		if (_sources is not { Count: > 0 })
		{
			return;
		}
		var removedItem = await _repository.DeleteAsync(source);
		if (removedItem is not null)
		{
			_sources.Remove(source);
		}
	}
}